@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --bulma-block-spacing: 0;
  --bulma-primary-h: 68deg;
  --bulma-primary-s: 19%;
  --bulma-primary-l: 55%;
  --bulma-link-h: 66deg;
  --bulma-text: black;
  --bulma-link-s: 22%;

  --tc-bg: #f6f6f6;
  --tc-bg-hover: #f6f6f6;
}

[data-theme="dark"] {
  --bulma-text: white;
  --tc-bg: #6d6d6d;
  --tc-bg-hover: #6d6d6d;
}

.tc-range {
  --panel-bg: var(--tc-bg);
  --panel-bg-hover: var(--tc-bg-hover);
}

.input {
  --bulma-input-h: 57;
}

.content {
  --bulma-content-heading-weight: inherit;
}

.tabs {
  --bulma-tabs-link-active-border-bottom-color: orange;
  --bulma-tabs-link-active-color: black;
  --bulma-tabs-link-hover-border-bottom-color: transparent;
  --bulma-border: transparent;
}

html[data-theme="dark"] .tabs {
  --bulma-tabs-link-active-color: white;
}

@layer base {
  @font-face {
    font-family: "Yekan";
    src: url(/public/assets/fonts/yekan/YekanBakhFaNum-Light.woff2);
    font-style: normal;
    font-weight: 300;
  }
  @font-face {
    font-family: "Yekan";
    src: url(/public/assets/fonts/yekan/YekanBakhFaNum-Bold.woff2);
    font-style: normal;
    font-weight: bold;
  }
  @font-face {
    font-family: "Yekan";
    src: url(/public/assets/fonts/yekan/YekanBakhFaNum-ExtraBlack.woff2);
    font-style: normal;
    font-weight: 800;
  }

  @font-face {
    font-family: "Yekan";
    src: url(/public/assets/fonts/yekan/YekanBakhFaNum-SemiBold.woff2);
    font-style: normal;
    font-weight: 500;
  }
  @font-face {
    font-family: "Yekan";
    src: url(/public/assets/fonts/yekan/YekanBakhFaNum-Regular.woff2);
    font-style: normal;
    font-weight: 400;
  }

  body {
    @apply bg-gray-100 dark:bg-storm-900 min-h-screen;
    font-family: "Yekan", "sens-serif";
  }

  .radio {
    @apply after:transition-all content-none after:-translate-x-1/2 after:-translate-y-1/2 after:opacity-0 after:top-[50%] after:left-[50%]  after:size-[14px] after:rounded-[50%] after:border-4 after:border-primary-400 size-4 rounded-[50%] border relative inline-block after:absolute mr-2;
  }

  .popover-triangle::before {
    @apply [clip-path:polygon(49%_32%,0%_100%,100%_100%)];
  }

  .radio-hidden:checked + .radio::after {
    @apply opacity-100;
  }
  .radio-hidden:checked + .radio {
    @apply border-0;
  }

  .theme-dark-svg path {
    @apply fill-gray-500 dark:fill-white;
  }

  .tabs {
    @apply text-sm;
  }
  .tabs .is-active {
    @apply font-semibold;
  }

  .step.active svg {
    @apply fill-primary-400;
  }

  .step.active .bs-stepper-label {
    @apply text-black dark:text-white;
  }

  .bs-stepper .step-trigger.disabled,
  .bs-stepper .step-trigger:disabled {
    @apply text-black opacity-100;
  }

  .select select {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none !important;
    @apply dark:bg-storm-600 dark:border-storm-200 dark:!text-white;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    scrollbar-width: none;
  }

  .button {
    @apply dark:bg-storm-600;
  }
}

@layer utilities {
  .bordered-table tbody td:not(:first-child) {
    --bulma-content-table-cell-border-width: 0 0 2px;
    @apply !border-r-2 dark:!border-storm-500  !border-[#ECECEC] ltr:!border-r-0 ltr:!border-l-2;
  }
  .bordered-table tbody td:first-child {
    --bulma-content-table-cell-border-width: 0 0 2px;
    @apply !border-[#ECECEC] dark:!border-storm-500;
  }
  .bordered-table thead th:not(:first-child) {
    @apply !border-r-2 ltr:!border-r-0 dark:!border-storm-500  ltr:!border-l-2 !border-solid !border-[#ECECEC];
  }

  .bordered-table-narrow thead th:not(:first-child) {
    @apply !border-r ltr:!border-r-0 dark:!border-storm-500  ltr:!border-l;
  }

  .bordered-table-narrow tbody td:not(:first-child) {
    @apply !border-r ltr:!border-r-0 dark:!border-storm-500  ltr:!border-l;
  }

  .tab-items .active-tab {
    font-family: "Yekan" !important;
    font-weight: bold;
  }

  .tab-items ul li:not(.active-tab) a {
    @apply text-[#ABABAB];
  }

  .h-d-t {
    --bulma-tabs-border-bottom-style: none;
    --bulma-tabs-link-padding: 0.5em 0;
  }

  .h-d-t > *:not(.first-child) {
    margin-left: 1rem;
  }

  .h-d-t.is-active {
    --bulma-tabs-link-active-color: #f9b233;
  }

  .prev-main:not(:disabled) {
    @apply text-green-500 border  border-green-500;
  }

  .prev-main:not(:disabled) svg path {
    @apply fill-green-500;
  }

  .active-side-section {
    transform-style: preserve-3d;
    @apply bg-primary-400 scale-[1.15] before:rounded-sm before:block before:absolute  before:left-0  before:bg-primary-400 before:h-full before:w-[15px] p-2  w-[38px] rounded-full h-auto;
  }
  .active-side-section::before {
    transform: translateZ(-1px) translateY(-23%) translateX(-70%);
    @apply ltr:translate-x-[225%] ltr:-translate-y-[23%] ltr:-translate-z-1;
  }
  .active-side-section svg path {
    @apply !fill-black;
  }

  .c-w {
    @apply w-full max-w-[83.3125rem] px-4 mx-auto xxl:max-w-full xxl:px-12;
  }

  .more-rooms-expanded {
    @apply bg-transparent text-primary-400 border border-primary-400;
  }

  .input,
  .textarea {
    @apply !shadow-none dark:bg-storm-600 dark:border-storm-200;
  }

  input::placeholder {
    @apply dark:!text-white;
  }

  .select-age:has(:checked:disabled) {
    @apply text-gray-400;
  }

  .theme-color-border {
    @apply dark:!border-storm-500;
  }

  .theme-color--primary {
    @apply bg-white dark:bg-storm-600;
  }

  .theme-color--secondary {
    @apply bg-white dark:bg-storm-900;
  }

  .theme-color--neutral {
    @apply bg-storm-50 dark:bg-storm-500;
  }

  .theme-color--light {
    @apply bg-gray-50 dark:bg-storm-500;
  }

  .theme-color-f path {
    @apply fill-gray-500 dark:fill-white;
  }

  .theme-color-f-contrast path {
    @apply fill-black dark:fill-white;
  }

  .theme-color-text--secondary {
    @apply text-gray-500 dark:text-white;
  }

  .th-hover:has(td:hover) {
    @apply bg-storm-50 dark:theme-color--neutral;
  }

  .rooms-scroll::-webkit-scrollbar {
    width: 1px !important;
    scrollbar-width: 1px !important;
    padding-left: 1rem;
  }
  .rooms-scroll::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .rooms-scroll::-webkit-scrollbar-thumb {
    @apply bg-primary-400 ml-5;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .tab-active-before.is-active::after {
    @apply block;
  }

  .dp-style {
    @apply border-storm-100 border-2 border-solid;
  }

  .dp-multiple .dp-style:nth-child(1):not(.dp-active) {
    @apply border-e-0;
  }
  .dp-multiple .dp-style:nth-child(2):not(.dp-active) {
    @apply border-s-0;
  }

  .dp-focus:not(.dp-active) {
    @apply opacity-30;
  }

  .scroll-based-sidebar {
    @apply transition-all duration-700;
  }

  html:not([data-scroll="0"]) .scroll-based-sidebar {
    @apply mt-12;
  }

  .dp-multiple .datepicker-value {
    @apply text-x font-normal;
  }

  .dp-multiple .dp-active .datepicker-value {
    @apply text-base;
  }

  .select:has(select:focus)::after {
    @apply !rotate-[134deg]  !-mt-[.1375em];
  }




}
